
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/
.pytype/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.log
*.vs/
TestResults/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.log
*.jks
*.iml
.idea/
target/
out/

db.sqlite3
.env